<div th:replace="compartilhada/topo"></div>

		<div class="row">
			<form id="form" action="/endereco/create" method="POST">

				<fieldset>
					<legend>Cadastro de Cliente</legend>

					<div class="form-group">
						<input type="text" name="nome" placeholder="Nome" required class="form-control">
					</div>

					<div class="form-group">
						<input type="email" placeholder="Email" name="email" required class="form-control">
					</div>

					<div class="form-group">
						<input type="text" name="cep" id="cep" placeholder="Cep" required class="form-control">
					</div>

					<div class="form-group">
						<input type="text" placeholder="Logradouro" name="logradouro" required id="logradouro"
							class="form-control">
					</div>

					<div class="form-group">
						<input type="text" placeholder="Numero" name="numero" id="numero" required class="form-control">
					</div>

					<div class="form-group">
						<input type="text" placeholder="Complemento" name="complemento" id="complemento"
							class="form-control">
					</div>

					<div class="form-group">
						<input type="text" placeholder="Bairro" name="bairro" required class="form-control" id="bairro">
					</div>

					<div class="form-group">
						<input type="text" placeholder="Localidade" id="localidade" required name="localidade"
							class="form-control">
					</div>

					<div class="form-group">
						<input type="text" placeholder="UF" id="uf" required name="uf" class="form-control">
					</div>

					<button type="submit" class="btn btn-primary" value="Cadastrar" id="cadastrar">Cadastrar</button>

				</fieldset>
			</form>
		</div>


	<div th:replace="compartilhada/rodape"></div>