
body { 
  min-height: 100vh; 
}

input{
  margin-bottom: 5px;
}

h3{
	text-align: center;
	color: #0824ff;
}

form {
  margin-top: 20px;
  margin-bottom: 20px;
}

fieldset
{
  width:300px;
}

legend
{
  font-style:bold;
  font-family: "Segoe UI";
  color: #0824ff;
}

.spinner-border{
	height: 20px;
	width: 20px;
}

footer {
  font-style: italic;
  text-align: center;
  padding: 3px;
  background-color: #dcdcdc;
  color: rgb(8, 7, 7);
  height: 30px;
}